In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [24]:
from google.colab import drive

In [25]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [26]:
# Save this updated DataFrame to a CSV file
df = pd.read_csv('/content/drive/Othercomputers/My Mac/Final Project/Time-Series-Forecasting/data/cleaned_04.csv')

In [2]:
df1 = pd.read_csv('/Users/leahchen/Documents/LHL/Final Project/Time-Series-Forecasting/data/cleaned_03.csv')

In [3]:
df1.head()

,order_id,date,payment,item_code,quantity,gift_quantity,unit_price_vat_excl,unit_cogs,unit_rrp_vat_excl,CreatedAt,...,year,week_of_year,price_difference,morning,afternoon,evening,total_sales_country_product,avg_sales_country_product,total_sales_country_product_month,avg_sales_country_product_day
0,2000093387,2020-04-24,GOPAY_CARD,S101,1,0.0,3.51,0.00,3.50,2020-04-24 21:50:00,...,2020,17,0.01,0,0,1,215037.02,1.61,14268.25,1.56
1,2000093387,2020-04-24,GOPAY_CARD,S113,1,0.0,-0.71,0.00,-0.72,2020-04-24 21:50:00,...,2020,17,0.01,0,0,1,215037.02,1.61,14268.25,1.56
2,2000093388,2020-04-24,COD,ZB00089178,1,0.0,5.83,2.21,6.47,2020-04-24 21:45:00,...,2020,17,-0.64,0,0,1,9275270.79,38.07,526599.68,38.15
3,2000093388,2020-04-24,COD,ZB00138060,1,0.0,5.83,2.21,6.47,2020-04-24 21:45:00,...,2020,17,-0.64,0,0,1,9275270.79,38.07,526599.68,38.15
4,2000093388,2020-04-24,COD,ZB00015664,1,0.0,19.38,18.73,32.02,2020-04-24 21:45:00,...,2020,17,-12.64,0,0,1,1749344.59,25.37,118211.77,25.31

In [4]:
df1.columns

Index(['order_id', 'date', 'payment', 'item_code', 'quantity', 'gift_quantity',
       'unit_price_vat_excl', 'unit_cogs', 'unit_rrp_vat_excl', 'CreatedAt',
       'country', 'brand_id', 'name', 'group0_id', 'group0', 'category',
       'gender', 'age', 'color', 'size', 'gross_revenue', 'profit',
       'add_on_products', 'day_of_week', 'month_of_year', 'hour_of_day',
       'year', 'week_of_year', 'price_difference', 'morning', 'afternoon',
       'evening', 'total_sales_country_product', 'avg_sales_country_product',
       'total_sales_country_product_month', 'avg_sales_country_product_day'],
      dtype='object')

In [5]:
# List of columns to drop
columns_to_drop = ['total_sales_country_product', 'avg_sales_country_product', 'total_sales_country_product_month']

# Drop the specified columns
df1 = df1.drop(columns=columns_to_drop)

In [6]:
# Calculate the total number of orders for each day
daily_orders = df1.groupby('date')['order_id'].nunique().reset_index()
daily_orders.columns = ['date', 'total_orders']

In [7]:
# Calculate the total quantity of products sold for each day
daily_products = df1.groupby('date')['quantity'].sum().reset_index()
daily_products.columns = ['date', 'total_products']

In [8]:
# Merge daily_orders and daily_products with the original dataset
df1 = df1.merge(daily_orders, on='date', how='left')
df1 = df1.merge(daily_products, on='date', how='left')

# Calculate the average number of orders per day
average_orders_per_day = daily_orders['total_orders'].mean()

# Calculate the average number of products sold per day
average_products_per_day = daily_products['total_products'].mean()

# Add these averages as new columns to the dataset
df1['average_orders_per_day'] = average_orders_per_day
df1['average_products_per_day'] = average_products_per_day
df1.head()

,order_id,date,payment,item_code,quantity,gift_quantity,unit_price_vat_excl,unit_cogs,unit_rrp_vat_excl,CreatedAt,...,week_of_year,price_difference,morning,afternoon,evening,avg_sales_country_product_day,total_orders,total_products,average_orders_per_day,average_products_per_day
0,2000093387,2020-04-24,GOPAY_CARD,S101,1,0.0,3.51,0.00,3.50,2020-04-24 21:50:00,...,17,0.01,0,0,1,1.56,565,1723,965.290188,2286.687891
1,2000093387,2020-04-24,GOPAY_CARD,S113,1,0.0,-0.71,0.00,-0.72,2020-04-24 21:50:00,...,17,0.01,0,0,1,1.56,565,1723,965.290188,2286.687891
2,2000093388,2020-04-24,COD,ZB00089178,1,0.0,5.83,2.21,6.47,2020-04-24 21:45:00,...,17,-0.64,0,0,1,38.15,565,1723,965.290188,2286.687891
3,2000093388,2020-04-24,COD,ZB00138060,1,0.0,5.83,2.21,6.47,2020-04-24 21:45:00,...,17,-0.64,0,0,1,38.15,565,1723,965.290188,2286.687891
4,2000093388,2020-04-24,COD,ZB00015664,1,0.0,19.38,18.73,32.02,2020-04-24 21:45:00,...,17,-12.64,0,0,1,25.31,565,1723,965.290188,2286.687891

In [9]:
# Sort the dataframe by 'date' and 'CreatedAt' columns
df1 = df1.sort_values(['CreatedAt'])

In [10]:
# reset the index of the dataframe
df1 = df1.reset_index(drop=True)

In [11]:
df1.head()

,order_id,date,payment,item_code,quantity,gift_quantity,unit_price_vat_excl,unit_cogs,unit_rrp_vat_excl,CreatedAt,...,week_of_year,price_difference,morning,afternoon,evening,avg_sales_country_product_day,total_orders,total_products,average_orders_per_day,average_products_per_day
0,1900078757,2019-06-01,COD,ZB00049340,5,0.0,6.63,2.50,7.78,2019-06-01 00:04:00,...,22,-1.15,0,0,0,37.39,55,154,965.290188,2286.687891
1,1900078757,2019-06-01,COD,S113,1,0.0,0.93,0.00,0.93,2019-06-01 00:04:00,...,22,0.00,0,0,0,1.57,55,154,965.290188,2286.687891
2,1900078757,2019-06-01,COD,ZB00007426,2,0.0,6.63,0.07,7.78,2019-06-01 00:04:00,...,22,-1.15,0,0,0,37.39,55,154,965.290188,2286.687891
3,1900078757,2019-06-01,COD,S101,1,0.0,2.21,0.00,2.21,2019-06-01 00:04:00,...,22,0.00,0,0,0,1.57,55,154,965.290188,2286.687891
4,1900072959,2019-06-01,GOPAY_CARD,ZB00010308,4,0.0,19.18,11.62,33.08,2019-06-01 00:09:00,...,22,-13.90,0,0,0,52.58,55,154,965.290188,2286.687891

In [21]:
df1.columns

Index(['order_id', 'date', 'payment', 'item_code', 'quantity', 'gift_quantity',
       'unit_price_vat_excl', 'unit_cogs', 'unit_rrp_vat_excl', 'CreatedAt',
       'country', 'brand_id', 'name', 'group0_id', 'group0', 'category',
       'gender', 'age', 'color', 'size', 'gross_revenue', 'profit',
       'add_on_products', 'day_of_week', 'month_of_year', 'hour_of_day',
       'year', 'week_of_year', 'price_difference', 'morning', 'afternoon',
       'evening', 'avg_sales_country_product_day', 'total_orders',
       'total_products', 'average_orders_per_day', 'average_products_per_day'],
      dtype='object')

In [12]:
# Save this updated DataFrame to a CSV file
df1.to_csv('/Users/leahchen/Documents/LHL/Final Project/Time-Series-Forecasting/data/cleaned_04_00.csv', index=False)

In [14]:
# Convert 'date' and 'CreatedAt' to datetime objects
df1['date'] = pd.to_datetime(df1['date'])

In [15]:
# Group the dataframe by 'order_id', 'country', 'date'
grouped = df1.groupby(['order_id', 'date','country'])

In [16]:
# Aggregate the categories and quantities for each group
aggregations = {
    'category': lambda x: x.value_counts().to_dict(),
    'payment': lambda x: x.value_counts().to_dict(),
    'gender': lambda x: x.value_counts().to_dict(),
    'age': lambda x: x.value_counts().to_dict(),
    'color': lambda x: x.value_counts().to_dict(),
    'size': lambda x: x.value_counts().to_dict(),
    'group0': lambda x: x.value_counts().to_dict(),
    'quantity': 'sum',
    'gift_quantity': 'sum' 
}

grouped_agg = grouped.agg(aggregations)

In [17]:
# Calculate the total gross_revenue and profit for each group
revenue_profit_agg = grouped.agg({
    'gross_revenue': 'sum',
    'profit': 'sum'
})

In [18]:
# Flatten the aggregated features and create a new dataframe
categories_agg_flat = grouped_agg.reset_index()
revenue_profit_agg_flat = revenue_profit_agg.reset_index()

In [19]:
# Merge the flattened aggregated dataframes
date_related_df = pd.merge(categories_agg_flat, revenue_profit_agg_flat, on=['order_id', 'date', 'country'])

In [22]:
additional_columns_df = df1[['order_id', 'price_difference', 'add_on_products', 'morning', 'afternoon',
                            'evening', 'avg_sales_country_product_day', 'total_orders','total_products', 
                            'average_orders_per_day', 'average_products_per_day']].copy()

In [23]:
additional_columns_df = additional_columns_df.drop_duplicates(subset=['order_id'])

In [24]:
date_related_df = date_related_df.merge(additional_columns_df, on='order_id', how='left')

In [25]:
date_related_df.head()

,order_id,date,country,category,payment,gender,age,color,size,group0,...,week_of_year_y,price_difference,morning,afternoon,evening,avg_sales_country_product_day,total_orders,total_products,average_orders_per_day,average_products_per_day
0,20000001,2020-01-01,Romania,"{'football': 2, 'Not Applicable': 1}",{'COD': 3},"{'unisex': 2, 'Not Applicable': 1}","{'adults': 2, 'Not Applicable': 1}","{'Black': 1, 'Not Applicable': 1, 'White': 1}","{'39-42': 2, 'Not Applicable': 1}","{'Apparel': 2, 'Other': 1}",...,1,-3.02,1,0,0,40.42,101,186,965.290188,2286.687891
1,21000001,2021-01-01,Italy,"{'fitness': 1, 'Not Applicable': 1}",{'PAYPAL': 2},"{'unisex': 1, 'Not Applicable': 1}","{'adults': 1, 'Not Applicable': 1}","{'Purple': 1, 'Not Applicable': 1}","{'OSFA': 1, 'Not Applicable': 1}","{'Equipment': 1, 'Other': 1}",...,53,-11.78,0,0,1,42.28,715,1880,965.290188,2286.687891
2,22000001,2022-01-01,France,{'football': 1},{'PAYPAL': 1},{'men': 1},{'adults': 1},{'Black': 1},{'S': 1},{'Apparel': 1},...,52,-24.01,0,1,0,51.98,759,1945,965.290188,2286.687891
3,1900072437,2019-06-01,Czech Republic,{'football': 8},{'COD': 8},"{'unisex': 5, 'men': 3}","{'adults': 6, 'kids': 2}","{'Green': 3, 'Black': 3, 'Yellow': 1, 'Orange'...","{'L': 3, 'XL': 2, 'XXL': 1, '4': 1, '5': 1}","{'Apparel': 6, 'Equipment': 2}",...,22,-22.94,1,0,0,37.39,55,154,965.290188,2286.687891
4,1900072959,2019-06-01,Spain,{'football': 4},{'GOPAY_CARD': 4},{'men': 4},{'adults': 4},{'White': 4},"{'S': 1, 'L': 1, 'XL': 1, 'M': 1}",{'Apparel': 4},...,22,-13.90,0,0,0,52.58,55,154,965.290188,2286.687891

In [26]:
# Save this updated DataFrame to a CSV file
date_related_df.to_csv('/Users/leahchen/Documents/LHL/Final Project/Time-Series-Forecasting/data/cleaned_04.csv', index=False)

In [27]:
date_df= pd.read_csv('/Users/leahchen/Documents/LHL/Final Project/Time-Series-Forecasting/data/cleaned_04.csv')

In [28]:
date_df.head()

,order_id,date,country,category,payment,gender,age,color,size,group0,...,week_of_year_y,price_difference.1,morning,afternoon,evening,avg_sales_country_product_day,total_orders,total_products,average_orders_per_day,average_products_per_day
0,20000001,2020-01-01,Romania,"{'football': 2, 'Not Applicable': 1}",{'COD': 3},"{'unisex': 2, 'Not Applicable': 1}","{'adults': 2, 'Not Applicable': 1}","{'Black': 1, 'Not Applicable': 1, 'White': 1}","{'39-42': 2, 'Not Applicable': 1}","{'Apparel': 2, 'Other': 1}",...,1,-3.02,1,0,0,40.42,101,186,965.290188,2286.687891
1,21000001,2021-01-01,Italy,"{'fitness': 1, 'Not Applicable': 1}",{'PAYPAL': 2},"{'unisex': 1, 'Not Applicable': 1}","{'adults': 1, 'Not Applicable': 1}","{'Purple': 1, 'Not Applicable': 1}","{'OSFA': 1, 'Not Applicable': 1}","{'Equipment': 1, 'Other': 1}",...,53,-11.78,0,0,1,42.28,715,1880,965.290188,2286.687891
2,22000001,2022-01-01,France,{'football': 1},{'PAYPAL': 1},{'men': 1},{'adults': 1},{'Black': 1},{'S': 1},{'Apparel': 1},...,52,-24.01,0,1,0,51.98,759,1945,965.290188,2286.687891
3,1900072437,2019-06-01,Czech Republic,{'football': 8},{'COD': 8},"{'unisex': 5, 'men': 3}","{'adults': 6, 'kids': 2}","{'Green': 3, 'Black': 3, 'Yellow': 1, 'Orange'...","{'L': 3, 'XL': 2, 'XXL': 1, '4': 1, '5': 1}","{'Apparel': 6, 'Equipment': 2}",...,22,-22.94,1,0,0,37.39,55,154,965.290188,2286.687891
4,1900072959,2019-06-01,Spain,{'football': 4},{'GOPAY_CARD': 4},{'men': 4},{'adults': 4},{'White': 4},"{'S': 1, 'L': 1, 'XL': 1, 'M': 1}",{'Apparel': 4},...,22,-13.90,0,0,0,52.58,55,154,965.290188,2286.687891

In [29]:
# Sort the DataFrame by the date column
df_sorted = date_df.sort_values(by='date')

df_sorted.head()

,order_id,date,country,category,payment,gender,age,color,size,group0,...,week_of_year_y,price_difference.1,morning,afternoon,evening,avg_sales_country_product_day,total_orders,total_products,average_orders_per_day,average_products_per_day
74,1900079010,2019-06-01,Czech Republic,"{'football': 2, 'Not Applicable': 1}",{'COD': 3},"{'men': 2, 'Not Applicable': 1}","{'adults': 2, 'Not Applicable': 1}","{'Red': 2, 'Not Applicable': 1}","{'42,7': 1, 'Not Applicable': 1, '43,3': 1}","{'Footwear': 2, 'Other': 1}",...,22,-56.67,1,0,0,37.39,55,154,965.290188,2286.687891
73,1900079006,2019-06-01,Czech Republic,"{'running': 4, 'Not Applicable': 1}",{'COD': 5},"{'women': 4, 'Not Applicable': 1}","{'adults': 4, 'Not Applicable': 1}","{'Pink': 2, 'White': 2, 'Not Applicable': 1}","{'XS': 4, 'Not Applicable': 1}","{'Apparel': 4, 'Other': 1}",...,22,0.00,1,0,0,1.57,55,154,965.290188,2286.687891
1073,1900080490,2019-06-01,Czech Republic,{'football': 2},{'CARD_CSOB': 2},{'men': 2},{'adults': 2},{'Red': 2},{'46': 2},{'Footwear': 2},...,22,-76.11,1,0,0,37.39,55,154,965.290188,2286.687891
70,1900078998,2019-06-01,Czech Republic,"{'Not Applicable': 1, 'football': 1}",{'CARD_CSOB': 2},"{'Not Applicable': 1, 'men': 1}","{'Not Applicable': 1, 'adults': 1}","{'Not Applicable': 1, 'Black': 1}","{'Not Applicable': 1, 'M': 1}","{'Other': 1, 'Apparel': 1}",...,22,0.00,1,0,0,1.57,55,154,965.290188,2286.687891
69,1900078996,2019-06-01,Slovakia,{'football': 1},{'COD': 1},{'men': 1},{'adults': 1},{'Black': 1},{'M': 1},{'Apparel': 1},...,22,-13.17,1,0,0,38.44,55,154,965.290188,2286.687891

In [30]:
# Reset the index
df_reset = df_sorted.reset_index(drop=True)
df_reset.head()

,order_id,date,country,category,payment,gender,age,color,size,group0,...,week_of_year_y,price_difference.1,morning,afternoon,evening,avg_sales_country_product_day,total_orders,total_products,average_orders_per_day,average_products_per_day
0,1900079010,2019-06-01,Czech Republic,"{'football': 2, 'Not Applicable': 1}",{'COD': 3},"{'men': 2, 'Not Applicable': 1}","{'adults': 2, 'Not Applicable': 1}","{'Red': 2, 'Not Applicable': 1}","{'42,7': 1, 'Not Applicable': 1, '43,3': 1}","{'Footwear': 2, 'Other': 1}",...,22,-56.67,1,0,0,37.39,55,154,965.290188,2286.687891
1,1900079006,2019-06-01,Czech Republic,"{'running': 4, 'Not Applicable': 1}",{'COD': 5},"{'women': 4, 'Not Applicable': 1}","{'adults': 4, 'Not Applicable': 1}","{'Pink': 2, 'White': 2, 'Not Applicable': 1}","{'XS': 4, 'Not Applicable': 1}","{'Apparel': 4, 'Other': 1}",...,22,0.00,1,0,0,1.57,55,154,965.290188,2286.687891
2,1900080490,2019-06-01,Czech Republic,{'football': 2},{'CARD_CSOB': 2},{'men': 2},{'adults': 2},{'Red': 2},{'46': 2},{'Footwear': 2},...,22,-76.11,1,0,0,37.39,55,154,965.290188,2286.687891
3,1900078998,2019-06-01,Czech Republic,"{'Not Applicable': 1, 'football': 1}",{'CARD_CSOB': 2},"{'Not Applicable': 1, 'men': 1}","{'Not Applicable': 1, 'adults': 1}","{'Not Applicable': 1, 'Black': 1}","{'Not Applicable': 1, 'M': 1}","{'Other': 1, 'Apparel': 1}",...,22,0.00,1,0,0,1.57,55,154,965.290188,2286.687891
4,1900078996,2019-06-01,Slovakia,{'football': 1},{'COD': 1},{'men': 1},{'adults': 1},{'Black': 1},{'M': 1},{'Apparel': 1},...,22,-13.17,1,0,0,38.44,55,154,965.290188,2286.687891

In [35]:
# List of columns to drop
columns_to_drop = ['price_difference.1', 'day_of_week_y', 'month_of_year_y', 'year_y', 'week_of_year_y']

# Drop the columns
df_reset = df_reset.drop(columns=columns_to_drop)

In [36]:
df_reset.columns

Index(['order_id', 'date', 'country', 'category', 'payment', 'gender', 'age',
       'color', 'size', 'group0', 'quantity', 'gift_quantity', 'gross_revenue',
       'profit', 'day_of_week_x', 'month_of_year_x', 'year_x',
       'week_of_year_x', 'price_difference', 'add_on_products', 'hour_of_day',
       'morning', 'afternoon', 'evening', 'avg_sales_country_product_day',
       'total_orders', 'total_products', 'average_orders_per_day',
       'average_products_per_day'],
      dtype='object')

In [38]:
# Specify the columns you want to check
columns_to_check = ['category', 'gender', 'age','color','size','group0']

# Loop through the specified columns and print unique values
for column in columns_to_check:
    unique_values = df_reset[column].unique()
    print(f"Unique values for column '{column}':\n{unique_values}\n")

Unique values for column 'category':
["{'football': 2, 'Not Applicable': 1}"
 "{'running': 4, 'Not Applicable': 1}" "{'football': 2}" ...
 "{'football': 6, 'Not Applicable': 1, 'running': 1, 'fitness': 1}"
 "{'Not Applicable': 6}" "{'Not Applicable': 4, 'football': 3}"]

Unique values for column 'gender':
["{'men': 2, 'Not Applicable': 1}" "{'women': 4, 'Not Applicable': 1}"
 "{'men': 2}" ... "{'unisex': 4, 'women': 4, 'men': 3}"
 "{'men': 2, 'Not Applicable': 1, 'women': 1, 'unisex': 1}"
 "{'women': 6, 'men': 3, 'unisex': 1}"]

Unique values for column 'age':
["{'adults': 2, 'Not Applicable': 1}" "{'adults': 4, 'Not Applicable': 1}"
 "{'adults': 2}" "{'adults': 1, 'Not Applicable': 1}" "{'adults': 1}"
 "{'kids': 1}" "{'Not Applicable': 2, 'adults': 1}"
 "{'Not Applicable': 2, 'kids': 1}" "{'adults': 3, 'Not Applicable': 1}"
 "{'adults': 2, 'Not Applicable': 2}" "{'adults': 6, 'kids': 2}"
 "{'adults': 3}" "{'Not Applicable': 3, 'kids': 1}" "{'adults': 9}"
 "{'adults': 4}" "{'Not Applicable': 1}"
 "{'Not Applicable': 3, 'adults': 1}" "{'adults': 6, 'Not Applicable': 1}"
 "{'adults': 5}" "{'kids': 2}" "{'kids': 1, 'Not Applicable': 1}"
 "{'adults': 3, 'Not Applicable': 2}" "{'adults': 5, 'Not Applicable': 1}"
 "{'adults': 6}" "{'Not Applicable': 3, 'adults': 2}" "{'adults': 7}"
 "{'adults': 2, 'kids': 1, 'Not Applicable': 1}" "{'Not Applicable': 2}"
 "{'adults': 2, 'Not Applicable': 2, 'kids': 1}"
 "{'kids': 2, 'Not Applicable': 1}"
 "{'adults': 1, 'kids': 1, 'Not Applicable': 1}" "{'adults': 11}"
 "{'kids': 2, 'Not Applicable': 2}"
 "{'Not Applicable': 2, 'kids': 1, 'adults': 1}" "{'Not Applicable': 3}"
 "{'kids': 1, 'adults': 1}" "{'adults': 5, 'Not Applicable': 2}"
 "{'adults': 6, 'Not Applicable': 3}"
 "{'kids': 1, 'adults': 1, 'Not Applicable': 1}"
 "{'kids': 3, 'Not Applicable': 3}" "{'adults': 2, 'kids': 1}"
 "{'adults': 3, 'Not Applicable': 3}" "{'adults': 9, 'Not Applicable': 2}"
 "{'Not Applicable': 2, 'adults': 1, 'kids': 1}"
 "{'adults': 3, 'kids': 1}" "{'adults': 4, 'Not Applicable': 2}"
 "{'adults': 3, 'kids': 2, 'Not Applicable': 1}"
 "{'kids': 5, 'adults': 1}"
 "{'adults': 5, 'kids': 1, 'Not Applicable': 1}"
 "{'kids': 4, 'adults': 1, 'Not Applicable': 1}"
 "{'kids': 3, 'adults': 2, 'Not Applicable': 1}"
 "{'adults': 7, 'Not Applicable': 1}" "{'kids': 4}" "{'adults': 12}"
 "{'adults': 1, 'kids': 1}"
 "{'kids': 2, 'adults': 2, 'Not Applicable': 2}"
 "{'adults': 8, 'kids': 1}" "{'kids': 2, 'adults': 2}"
 "{'kids': 4, 'adults': 1}"
 "{'kids': 3, 'adults': 1, 'Not Applicable': 1}"
 "{'kids': 4, 'Not Applicable': 1}"
 "{'adults': 3, 'Not Applicable': 2, 'kids': 1}"
 "{'adults': 6, 'Not Applicable': 2}"
 "{'adults': 3, 'kids': 1, 'Not Applicable': 1}"
 "{'Not Applicable': 3, 'kids': 2, 'adults': 1}"
 "{'Not Applicable': 2, 'adults': 2}" "{'Not Applicable': 1, 'adults': 1}"
 "{'kids': 4, 'Not Applicable': 2}" "{'adults': 4, 'Not Applicable': 3}"
 "{'adults': 2, 'kids': 2, 'Not Applicable': 2}" "{'kids': 3}"
 "{'adults': 8}" "{'kids': 2, 'adults': 1, 'Not Applicable': 1}"
 "{'kids': 3, 'Not Applicable': 1}"
 "{'kids': 2, 'Not Applicable': 2, 'adults': 1}" "{'adults': 10}"
 "{'kids': 3, 'Not Applicable': 2}" "{'adults': 8, 'Not Applicable': 1}"
 "{'adults': 15}" "{'Not Applicable': 1, 'kids': 1}" "{'kids': 5}"
 "{'kids': 2, 'adults': 1}" "{'adults': 14, 'kids': 1}"
 "{'adults': 10, 'Not Applicable': 1}" "{'Not Applicable': 3, 'kids': 2}"
 "{'adults': 5, 'kids': 1}" "{'adults': 14}" "{'adults': 3, 'kids': 2}"
 "{'adults': 3, 'kids': 2, 'Not Applicable': 2}" "{'adults': 16}"
 "{'adults': 18}" "{'adults': 4, 'kids': 2, 'Not Applicable': 1}"
 "{'adults': 9, 'kids': 1}" "{'kids': 3, 'adults': 3}"
 "{'adults': 14, 'Not Applicable': 1}" "{'kids': 6, 'adults': 1}"
 "{'adults': 3, 'kids': 3, 'Not Applicable': 1}"
 "{'adults': 12, 'Not Applicable': 1}"
 "{'adults': 9, 'Not Applicable': 1}"
 "{'adults': 4, 'kids': 1, 'Not Applicable': 1}"
 "{'adults': 2, 'kids': 2}" "{'kids': 5, 'Not Applicable': 2}"
 "{'adults': 4, 'kids': 1}" "{'adults': 11, 'Not Applicable': 1}"
 "{'adults': 5, 'Not Applicable': 3}"
 "{'kids': 2, 'adults': 2, 'Not Applicable': 1}"
 "{'Not Applicable': 4, 'adults': 2}"
 "{'adults': 6, 'kids': 4, 'Not Applicable': 1}"
 "{'kids': 4, 'adults': 2}"
 "{'adults': 2, 'kids': 2, 'Not Applicable': 1}"
 "{'adults': 7, 'Not Applicable': 2}" "{'adults': 13}" "{'kids': 10}"
 "{'adults': 7, 'kids': 1}" "{'adults': 10, 'Not Applicable': 2}"
 "{'adults': 4, 'Not Applicable': 3, 'kids': 1}"
 "{'adults': 10, 'kids': 1, 'Not Applicable': 1}"
 "{'adults': 6, 'kids': 1}" "{'adults': 4, 'kids': 2}"
 "{'adults': 4, 'kids': 2, 'Not Applicable': 2}"
 "{'adults': 6, 'Not Applicable': 4}" "{'adults': 8, 'Not Applicable': 2}"
 "{'adults': 8, 'kids': 2}" "{'kids': 5, 'Not Applicable': 1}"
 "{'adults': 5, 'kids': 4, 'Not Applicable': 1}"
 "{'adults': 8, 'kids': 3}" "{'adults': 17, 'Not Applicable': 1}"
 "{'adults': 16, 'Not Applicable': 1}"
 "{'adults': 5, 'kids': 2, 'Not Applicable': 1}"
 "{'adults': 4, 'kids': 3, 'Not Applicable': 1}"
 "{'adults': 4, 'Not Applicable': 4}"
 "{'adults': 6, 'kids': 2, 'Not Applicable': 2}"
 "{'kids': 11, 'Not Applicable': 1}"
 "{'adults': 6, 'kids': 3, 'Not Applicable': 1}"
 "{'adults': 4, 'Not Applicable': 2, 'kids': 1}"
 "{'adults': 12, 'kids': 2}" "{'kids': 3, 'adults': 1}"
 "{'Not Applicable': 3, 'kids': 1, 'adults': 1}"
 "{'kids': 3, 'adults': 2}" "{'kids': 6, 'adults': 3}"
 "{'Not Applicable': 6, 'adults': 4}"
 "{'Not Applicable': 3, 'kids': 2, 'adults': 2}" "{'kids': 7}"
 "{'kids': 5, 'adults': 3}"
 "{'adults': 16, 'kids': 2, 'Not Applicable': 1}" "{'kids': 6}"
 "{'kids': 5, 'adults': 2}"
 "{'kids': 4, 'adults': 2, 'Not Applicable': 2}"
 "{'kids': 9, 'adults': 1}" "{'adults': 5, 'kids': 3}"
 "{'adults': 5, 'kids': 2}" "{'adults': 12, 'kids': 5}"
 "{'adults': 6, 'kids': 1, 'Not Applicable': 1}"
 "{'kids': 6, 'adults': 5, 'Not Applicable': 1}"
 "{'kids': 5, 'adults': 5}"
 "{'kids': 4, 'Not Applicable': 2, 'adults': 1}"
 "{'kids': 8, 'adults': 2}"
 "{'kids': 3, 'adults': 2, 'Not Applicable': 2}"
 "{'adults': 12, 'Not Applicable': 2}" "{'adults': 17}"
 "{'adults': 8, 'kids': 1, 'Not Applicable': 1}"
 "{'adults': 7, 'kids': 3, 'Not Applicable': 1}"
 "{'kids': 4, 'adults': 3, 'Not Applicable': 1}"
 "{'adults': 8, 'kids': 4, 'Not Applicable': 1}"
 "{'adults': 3, 'kids': 3}"
 "{'adults': 5, 'kids': 3, 'Not Applicable': 1}"
 "{'adults': 6, 'Not Applicable': 2, 'kids': 2}"
 "{'Not Applicable': 4, 'kids': 2}" "{'kids': 8}"
 "{'adults': 7, 'kids': 2}" "{'adults': 11, 'kids': 2}"
 "{'adults': 4, 'kids': 3}" "{'kids': 16}"
 "{'kids': 6, 'adults': 1, 'Not Applicable': 1}"
 "{'kids': 4, 'adults': 2, 'Not Applicable': 1}" "{'adults': 19}"
 "{'adults': 22}" "{'kids': 9}" "{'kids': 4, 'adults': 3}"
 "{'kids': 8, 'adults': 1}"
 "{'adults': 9, 'kids': 1, 'Not Applicable': 1}"
 "{'kids': 11, 'adults': 4, 'Not Applicable': 1}"
 "{'adults': 7, 'kids': 3}" "{'adults': 13, 'Not Applicable': 1}"
 "{'kids': 5, 'adults': 1, 'Not Applicable': 1}"
 "{'kids': 8, 'Not Applicable': 1}" "{'adults': 4, 'kids': 4}"
 "{'adults': 5, 'kids': 4}" "{'kids': 7, 'Not Applicable': 1}"
 "{'Not Applicable': 2, 'adults': 2, 'kids': 1}"
 "{'kids': 6, 'adults': 3, 'Not Applicable': 2}"
 "{'Not Applicable': 3, 'adults': 2, 'kids': 1}"
 "{'Not Applicable': 4, 'adults': 1}" "{'kids': 12, 'Not Applicable': 1}"
 "{'adults': 18, 'Not Applicable': 1}"
 "{'kids': 3, 'Not Applicable': 2, 'adults': 1}"
 "{'kids': 6, 'Not Applicable': 1}" "{'adults': 6, 'kids': 4}"
 "{'kids': 5, 'Not Applicable': 2, 'adults': 1}"
 "{'adults': 6, 'kids': 3}" "{'adults': 15, 'Not Applicable': 1}"
 "{'adults': 9, 'kids': 4, 'Not Applicable': 1}"
 "{'Not Applicable': 3, 'adults': 1, 'kids': 1}"
 "{'kids': 10, 'adults': 1}"
 "{'adults': 6, 'kids': 2, 'Not Applicable': 1}"
 "{'kids': 4, 'Not Applicable': 3}" "{'kids': 6, 'adults': 2}"
 "{'adults': 8, 'kids': 3, 'Not Applicable': 1}" "{'adults': 28}"
 "{'kids': 10, 'adults': 2, 'Not Applicable': 1}"
 "{'adults': 5, 'Not Applicable': 2, 'kids': 1}"
 "{'kids': 13, 'adults': 5, 'Not Applicable': 1}" "{'adults': 38}"
 "{'kids': 7, 'adults': 5}"
 "{'adults': 7, 'kids': 2, 'Not Applicable': 1}"
 "{'adults': 9, 'kids': 5}"
 "{'adults': 11, 'kids': 1, 'Not Applicable': 1}"
 "{'adults': 7, 'kids': 1, 'Not Applicable': 1}"
 "{'kids': 7, 'adults': 1}"
 "{'kids': 3, 'adults': 3, 'Not Applicable': 1}"
 "{'kids': 7, 'adults': 2}"
 "{'kids': 5, 'adults': 3, 'Not Applicable': 1}"
 "{'kids': 11, 'adults': 1}"
 "{'kids': 3, 'adults': 3, 'Not Applicable': 2}"
 "{'kids': 5, 'adults': 2, 'Not Applicable': 1}"
 "{'kids': 9, 'adults': 2}"
 "{'kids': 7, 'adults': 4, 'Not Applicable': 1}"
 "{'adults': 8, 'kids': 6, 'Not Applicable': 1}"
 "{'adults': 20, 'Not Applicable': 1}" "{'adults': 9, 'kids': 4}"
 "{'kids': 4, 'adults': 4, 'Not Applicable': 1}"
 "{'adults': 6, 'kids': 5, 'Not Applicable': 1}"
 "{'adults': 10, 'kids': 1}"
 "{'adults': 12, 'kids': 3, 'Not Applicable': 1}"
 "{'adults': 12, 'kids': 1}"
 "{'kids': 7, 'adults': 1, 'Not Applicable': 1}"
 "{'kids': 5, 'adults': 4, 'Not Applicable': 1}"
 "{'adults': 7, 'kids': 4, 'Not Applicable': 1}"
 "{'kids': 7, 'adults': 6, 'Not Applicable': 1}"
 "{'adults': 19, 'Not Applicable': 1}"
 "{'kids': 8, 'adults': 2, 'Not Applicable': 1}"
 "{'adults': 4, 'kids': 4, 'Not Applicable': 1}"
 "{'adults': 17, 'kids': 1, 'Not Applicable': 1}"
 "{'kids': 9, 'adults': 1, 'Not Applicable': 1}"
 "{'kids': 9, 'Not Applicable': 1}" "{'adults': 30}"
 "{'kids': 6, 'Not Applicable': 2}"
 "{'kids': 6, 'adults': 4, 'Not Applicable': 1}"
 "{'adults': 23, 'Not Applicable': 1}"
 "{'kids': 6, 'adults': 2, 'Not Applicable': 1}"
 "{'adults': 13, 'kids': 2, 'Not Applicable': 1}"
 "{'kids': 6, 'adults': 3, 'Not Applicable': 1}"
 "{'adults': 22, 'Not Applicable': 1}"
 "{'adults': 21, 'Not Applicable': 1}"
 "{'adults': 8, 'kids': 2, 'Not Applicable': 1}"
 "{'adults': 10, 'kids': 2, 'Not Applicable': 1}" "{'kids': 12}"
 "{'adults': 11, 'Not Applicable': 2}"
 "{'adults': 20, 'kids': 5, 'Not Applicable': 1}"
 "{'kids': 14, 'Not Applicable': 1}"
 "{'adults': 16, 'kids': 1, 'Not Applicable': 1}"
 "{'adults': 9, 'kids': 2}"
 "{'kids': 7, 'adults': 2, 'Not Applicable': 1}"
 "{'adults': 11, 'kids': 5, 'Not Applicable': 1}" "{'adults': 44}"
 "{'adults': 3, 'kids': 3, 'Not Applicable': 2}" "{'kids': 17}"
 "{'adults': 9, 'kids': 2, 'Not Applicable': 1}"
 "{'adults': 13, 'kids': 1}"
 "{'adults': 11, 'kids': 2, 'Not Applicable': 1}"
 "{'adults': 21, 'kids': 2, 'Not Applicable': 1}"
 "{'adults': 9, 'kids': 6}" "{'kids': 5, 'adults': 4}"
 "{'kids': 8, 'adults': 3}" "{'adults': 7, 'kids': 5}"
 "{'adults': 7, 'kids': 5, 'Not Applicable': 1}"
 "{'kids': 11, 'adults': 2}" "{'kids': 8, 'adults': 5}"
 "{'adults': 4, 'kids': 3, 'Not Applicable': 2}"
 "{'adults': 10, 'kids': 4}" "{'kids': 7, 'adults': 4}"
 "{'kids': 14, 'adults': 11, 'Not Applicable': 1}" "{'kids': 15}"
 "{'adults': 4, 'kids': 4, 'Not Applicable': 2}"
 "{'adults': 10, 'kids': 4, 'Not Applicable': 1}"
 "{'kids': 10, 'Not Applicable': 1}" "{'kids': 8, 'adults': 4}"
 "{'kids': 13, 'adults': 3}" "{'kids': 12, 'adults': 2}"
 "{'kids': 10, 'adults': 9}" "{'adults': 8, 'kids': 4}"
 "{'adults': 10, 'kids': 3}" "{'adults': 26}"
 "{'kids': 5, 'adults': 5, 'Not Applicable': 1}" "{'adults': 21}"
 "{'kids': 14, 'adults': 6, 'Not Applicable': 1}"
 "{'adults': 10, 'kids': 2}" "{'kids': 28, 'adults': 22}"
 "{'adults': 18, 'kids': 1, 'Not Applicable': 1}"
 "{'kids': 10, 'adults': 6, 'Not Applicable': 1}"
 "{'kids': 4, 'adults': 4}"
 "{'kids': 8, 'adults': 7, 'Not Applicable': 1}"
 "{'kids': 6, 'adults': 5}" "{'adults': 23}" "{'kids': 7, 'adults': 6}"
 "{'adults': 13, 'kids': 12, 'Not Applicable': 1}"
 "{'adults': 26, 'Not Applicable': 1}"
 "{'kids': 17, 'adults': 1, 'Not Applicable': 1}"
 "{'kids': 18, 'adults': 6, 'Not Applicable': 1}"
 "{'adults': 8, 'kids': 5}"
 "{'kids': 8, 'adults': 3, 'Not Applicable': 1}"
 "{'adults': 3, 'Not Applicable': 3, 'kids': 1}"
 "{'kids': 11, 'adults': 2, 'Not Applicable': 1}"
 "{'adults': 5, 'kids': 5, 'Not Applicable': 1}"
 "{'adults': 11, 'kids': 4}"
 "{'kids': 6, 'Not Applicable': 2, 'adults': 1}"
 "{'kids': 5, 'adults': 2, 'Not Applicable': 2}"
 "{'adults': 7, 'Not Applicable': 2, 'kids': 1}"
 "{'adults': 35, 'Not Applicable': 1}"
 "{'adults': 5, 'kids': 2, 'Not Applicable': 2}"
 "{'kids': 6, 'adults': 4}"
 "{'adults': 6, 'Not Applicable': 2, 'kids': 1}"
 "{'adults': 14, 'Not Applicable': 2}"
 "{'adults': 20, 'kids': 6, 'Not Applicable': 1}"
 "{'adults': 11, 'kids': 6}" "{'adults': 11, 'kids': 5}"
 "{'adults': 27, 'Not Applicable': 1}"
 "{'adults': 52, 'Not Applicable': 1}"
 "{'adults': 39, 'kids': 6, 'Not Applicable': 1}"
 "{'kids': 8, 'adults': 1, 'Not Applicable': 1}"
 "{'adults': 16, 'Not Applicable': 2}"
 "{'adults': 13, 'Not Applicable': 2}" "{'adults': 6, 'kids': 5}"
 "{'adults': 7, 'kids': 4}" "{'adults': 34, 'Not Applicable': 1}"
 "{'adults': 8, 'kids': 5, 'Not Applicable': 1}"
 "{'kids': 14, 'adults': 14}"
 "{'kids': 12, 'adults': 4, 'Not Applicable': 1}"
 "{'kids': 7, 'adults': 3, 'Not Applicable': 1}"
 "{'adults': 10, 'kids': 5, 'Not Applicable': 1}"
 "{'adults': 14, 'kids': 6}"
 "{'adults': 9, 'kids': 3, 'Not Applicable': 1}"
 "{'adults': 13, 'kids': 1, 'Not Applicable': 1}" "{'adults': 20}"
 "{'adults': 11, 'kids': 3}" "{'adults': 27}"
 "{'adults': 10, 'Not Applicable': 3}"
 "{'adults': 13, 'Not Applicable': 2, 'kids': 1}"
 "{'adults': 2, 'Not Applicable': 1, 'kids': 1}"
 "{'kids': 7, 'Not Applicable': 2, 'adults': 1}"
 "{'adults': 9, 'kids': 3}" "{'adults': 16, 'Not Applicable': 3}"
 "{'adults': 9, 'Not Applicable': 3}" "{'kids': 15, 'Not Applicable': 1}"
 "{'adults': 11, 'kids': 1}"
 "{'adults': 8, 'kids': 8, 'Not Applicable': 1}"
 "{'kids': 9, 'adults': 4, 'Not Applicable': 1}"
 "{'Not Applicable': 7, 'adults': 1}" "{'adults': 76}"
 "{'adults': 14, 'Not Applicable': 3}" "{'kids': 6, 'adults': 6}"
 "{'adults': 37}" "{'kids': 13, 'adults': 4, 'Not Applicable': 1}"
 "{'kids': 14, 'adults': 10, 'Not Applicable': 1}" "{'adults': 25}"
 "{'adults': 24}" "{'adults': 41, 'Not Applicable': 1}"
 "{'kids': 9, 'adults': 5}" "{'adults': 13, 'kids': 2}" "{'kids': 21}"
 "{'kids': 12, 'adults': 3, 'Not Applicable': 1}"
 "{'kids': 15, 'adults': 13}" "{'kids': 22}"
 "{'adults': 18, 'Not Applicable': 2}" "{'kids': 11}"
 "{'kids': 9, 'adults': 2, 'Not Applicable': 1}"
 "{'kids': 7, 'adults': 5, 'Not Applicable': 1}"
 "{'kids': 18, 'adults': 1, 'Not Applicable': 1}"
 "{'adults': 14, 'kids': 4}" "{'adults': 11, 'kids': 7}"
 "{'kids': 11, 'adults': 1, 'Not Applicable': 1}"
 "{'adults': 16, 'kids': 2}" "{'adults': 7, 'kids': 6}"
 "{'kids': 9, 'adults': 3}" "{'kids': 7, 'adults': 3}"
 "{'kids': 13, 'adults': 4}" "{'adults': 16, 'kids': 1}"
 "{'kids': 17, 'adults': 4}" "{'adults': 32}" "{'kids': 9, 'adults': 7}"
 "{'Not Applicable': 1, 'adults': 1, 'kids': 1}"
 "{'adults': 3, 'Not Applicable': 1, 'kids': 1}"
 "{'adults': 9, 'kids': 6, 'Not Applicable': 1}"
 "{'kids': 4, 'adults': 3, 'Not Applicable': 2}"
 "{'Not Applicable': 1, 'kids': 1, 'adults': 1}"
 "{'adults': 8, 'kids': 8}" "{'adults': 42, 'Not Applicable': 1}"
 "{'adults': 16, 'kids': 9}"
 "{'Not Applicable': 2, 'kids': 2, 'adults': 1}"
 "{'kids': 11, 'adults': 3}" "{'adults': 30, 'Not Applicable': 1}"
 "{'adults': 10, 'kids': 7, 'Not Applicable': 1}"
 "{'adults': 4, 'Not Applicable': 1, 'kids': 1}"
 "{'adults': 23, 'kids': 4, 'Not Applicable': 1}"
 "{'adults': 18, 'kids': 3}"
 "{'kids': 3, 'Not Applicable': 1, 'adults': 1}"
 "{'kids': 12, 'adults': 2, 'Not Applicable': 1}"
 "{'adults': 7, 'kids': 6, 'Not Applicable': 1}"
 "{'adults': 12, 'kids': 1, 'Not Applicable': 1}"
 "{'kids': 10, 'adults': 7}"
 "{'adults': 1, 'Not Applicable': 1, 'kids': 1}"
 "{'Not Applicable': 2, 'kids': 2}" "{'kids': 10, 'adults': 2}"
 "{'adults': 32, 'kids': 2, 'Not Applicable': 1}"
 "{'adults': 15, 'kids': 1, 'Not Applicable': 1}"
 "{'kids': 11, 'adults': 5, 'Not Applicable': 1}"
 "{'adults': 5, 'Not Applicable': 1, 'kids': 1}"
 "{'adults': 6, 'kids': 6}" "{'adults': 20, 'kids': 16}"
 "{'adults': 12, 'kids': 2, 'Not Applicable': 1}"
 "{'kids': 17, 'adults': 2, 'Not Applicable': 1}"]

Unique values for column 'color':
["{'Red': 2, 'Not Applicable': 1}"
 "{'White': 2, 'Pink': 2, 'Not Applicable': 1}" "{'Red': 2}" ...
 "{'Red': 2, 'Blue': 1, 'Orange': 1, 'Green': 1, 'Silver': 1}"
 "{'Black': 2, 'Red': 1, 'Blue': 1, 'White': 1, 'Green': 1}"
 "{'Not Applicable': 2, 'Black': 1, 'Green': 1, 'Silver': 1, 'Red': 1}"]

Unique values for column 'size':
["{'42,7': 1, '43,3': 1, 'Not Applicable': 1}"
 "{'XS': 4, 'Not Applicable': 1}" "{'46': 2}" ...
 "{'XS': 2, 'M (147-152 cm)': 1, 'S': 1, 'OSFY': 1, 'ks': 1}"
 "{'44': 1, '38': 1, '38,5': 1}" "{'XXL': 3, 'Not Applicable': 2, '6': 1}"]

Unique values for column 'group0':
["{'Footwear': 2, 'Other': 1}" "{'Apparel': 4, 'Other': 1}"
 "{'Footwear': 2}" ... "{'Equipment': 10, 'Footwear': 1}" '{}'
 "{'Nutrition': 4, 'Equipment': 1, 'Other': 1}"]

- Create new columns for unique categories, genders, and ages to make them simpler

In [37]:
unique_categories = ['football', 'running', 'fitness','lifestyle']
unique_genders = ['men', 'women', 'unisex']
unique_ages = ['adults', 'kids']
unique_color = ['Red','White','Pink','Blue','Orange','Green','Black','Silver']
unique_group0 = ['Other','Apparel','Footwear','Equipment','Nutrition']

for cat in unique_categories:
    df_reset[f'category_{cat}'] = 0

for gen in unique_genders:
    df_reset[f'gender_{gen}'] = 0

for age in unique_ages:
    df_reset[f'age_{age}'] = 0
    
for color in unique_color:
    df_reset[f'color_{color}'] = 0
    
for group0 in unique_group0:
    df_reset[f'group0_{group0}'] = 0

# Set the values based on the original data
for index, row in df_reset.iterrows():
    # For categories
    for cat in unique_categories:
        if cat in row['category']:
            df_reset.at[index, f'category_{cat}'] = 1

    # For genders
    for gen in unique_genders:
        if gen in row['gender']:
            df_reset.at[index, f'gender_{gen}'] = 1

    # For ages
    for age in unique_ages:
        if age in row['age']:
            df_reset.at[index, f'age_{age}'] = 1

    # For colors
    for color in unique_color:
        if color in row['color']:
            df_reset.at[index, f'color_{color}'] = 1
            
    # For sizes
    for group0 in unique_group0:
        if group0 in row['group0']:
            df_reset.at[index, f'group0_{group0}'] = 1
# Drop the original columns
df_reset.drop(['category', 'gender', 'age','color','group0','size'], axis=1, inplace=True)

In [38]:
unique_payment = ['COD','GOPAY_CARD','PAYPAL','CARD_GOPAY','CARD_CSOB','CHECKOUT_CARD','PAYPAL_EXPRESS',
                  'CHECKOUT_APPLE','CHECKOUT_BANCONTACT','BANK_TRANSFER','CASH','CSOB_CARD','INVOICE_HUF','PAYPAL_IDEALO']

for payment in unique_payment:
    df_reset[f'payment_{payment}'] = 0

for index, row in df_reset.iterrows():
    # For payment
    for payment in unique_payment:
        if payment in row['payment']:
            df_reset.at[index, f'payment_{payment}'] = 1

# Drop the original columns
df_reset.drop(['payment'], axis=1, inplace=True)

In [42]:
df_reset.tail()

,order_id,date,country,quantity,gift_quantity,gross_revenue,profit,day_of_week_x,month_of_year_x,year_x,...,payment_CARD_CSOB,payment_CHECKOUT_CARD,payment_PAYPAL_EXPRESS,payment_CHECKOUT_APPLE,payment_CHECKOUT_BANCONTACT,payment_BANK_TRANSFER,payment_CASH,payment_CSOB_CARD,payment_INVOICE_HUF,payment_PAYPAL_IDEALO
924743,2200023810,2022-01-14,Ireland,1,0.0,107.984263,44.659457,4,1,2022,...,0,0,0,0,0,0,0,0,0,0
924744,2200023811,2022-01-14,Slovakia,2,0.0,76.337953,24.593767,4,1,2022,...,0,0,0,0,0,0,0,0,0,0
924745,2200023814,2022-01-14,France,1,0.0,86.823519,32.828170,4,1,2022,...,0,0,0,1,0,0,0,0,0,0
924746,2200023794,2022-01-14,Denmark,1,0.0,67.064992,31.367318,4,1,2022,...,0,1,0,0,0,0,0,0,0,0
924747,2200023867,2022-01-14,Romania,3,0.0,21.753378,8.458804,4,1,2022,...,0,0,0,0,0,0,0,0,0,0

In [43]:
df_reset.columns

Index(['order_id', 'date', 'country', 'quantity', 'gift_quantity',
       'gross_revenue', 'profit', 'day_of_week_x', 'month_of_year_x', 'year_x',
       'week_of_year_x', 'price_difference', 'add_on_products', 'hour_of_day',
       'morning', 'afternoon', 'evening', 'avg_sales_country_product_day',
       'total_orders', 'total_products', 'average_orders_per_day',
       'average_products_per_day', 'category_football', 'category_running',
       'category_fitness', 'category_lifestyle', 'gender_men', 'gender_women',
       'gender_unisex', 'age_adults', 'age_kids', 'color_Red', 'color_White',
       'color_Pink', 'color_Blue', 'color_Orange', 'color_Green',
       'color_Black', 'color_Silver', 'group0_Other', 'group0_Apparel',
       'group0_Footwear', 'group0_Equipment', 'group0_Nutrition',
       'payment_COD', 'payment_GOPAY_CARD', 'payment_PAYPAL',
       'payment_CARD_GOPAY', 'payment_CARD_CSOB', 'payment_CHECKOUT_CARD',
       'payment_PAYPAL_EXPRESS', 'payment_CHECKOUT_APPLE',
       'payment_CHECKOUT_BANCONTACT', 'payment_BANK_TRANSFER', 'payment_CASH',
       'payment_CSOB_CARD', 'payment_INVOICE_HUF', 'payment_PAYPAL_IDEALO'],
      dtype='object')

In [44]:
df_reset['color_Silver'].value_counts()

0    824353
1    100395
Name: color_Silver, dtype: int64

In [45]:
df_reset.shape

(924748, 58)

In [46]:
# Save this updated DataFrame to a CSV file
df_reset.to_csv('/Users/leahchen/Documents/LHL/Final Project/Time-Series-Forecasting/data/cleaned_05.csv', index=False)