In [1]:
from google.colab import drive

In [2]:
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
from google.colab import data_table
data_table.enable_dataframe_formatter

In [3]:
import pandas as pd
import numpy as np

In [5]:
# explore orders table first 
df = pd.read_csv('/content/drive/MyDrive/lighthoust_lab/Final Project/Time-Series-Forecasting/data/orders.csv', sep=';')

In [6]:
df.head(15)

,order_id,date,payment,item_code,quantity,gift_quantity,unit_price_vat_excl,unit_cogs,unit_rrp_vat_excl,department,channel,owner,site,CreatedAt
0,2000093387,2020-04-24 00:00:00,GOPAY_CARD,S101,1,NaN,3.506048,0.000000,3.496395,E-COMMER,RUN.huC,RUN.huO,top4running.hu,2020-04-24 21:50:00
1,2000093387,2020-04-24 00:00:00,GOPAY_CARD,S113,1,NaN,-0.705913,0.000000,-0.717209,E-COMMER,RUN.huC,RUN.huO,top4running.hu,2020-04-24 21:50:00
2,2000093388,2020-04-24 00:00:00,COD,ZB00089178,1,NaN,5.829845,2.209302,6.472868,E-COMMER,FTB.czC,FTB.czO,11teamsports.cz,2020-04-24 21:45:00
3,2000093388,2020-04-24 00:00:00,COD,ZB00138060,1,NaN,5.829845,2.209302,6.472868,E-COMMER,FTB.czC,FTB.czO,11teamsports.cz,2020-04-24 21:45:00
4,2000093388,2020-04-24 00:00:00,COD,ZB00015664,1,NaN,19.379845,18.731008,32.015504,E-COMMER,FTB.czC,FTB.czO,11teamsports.cz,2020-04-24 21:45:00

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2128524 entries, 0 to 2128523
Data columns (total 14 columns):
 #   Column               Dtype
---  ------               -----
 0   order_id             int64
 1   date                 object
 2   payment              object
 3   item_code            object
 4   quantity             int64
 5   gift_quantity        float64
 6   unit_price_vat_excl  float64
 7   unit_cogs            float64
 8   unit_rrp_vat_excl    float64
 9   department           object
 10  channel              object
 11  owner                object
 12  site                 object
 13  CreatedAt            object
dtypes: float64(4), int64(2), object(8)
memory usage: 227.4+ MB

In [8]:
# Convert the 'date' column to datetime objects
df['date'] = pd.to_datetime(df['date'])

# Find the date range
min_date = df['date'].min()
max_date = df['date'].max()

print(f"Date range: {min_date} to {max_date}")

Date range: 2019-06-01 00:00:00 to 2022-01-14 00:00:00

In [9]:
df.columns

Index(['order_id', 'date', 'payment', 'item_code', 'quantity', 'gift_quantity',
       'unit_price_vat_excl', 'unit_cogs', 'unit_rrp_vat_excl', 'department',
       'channel', 'owner', 'site', 'CreatedAt'],
      dtype='object')

In [10]:
df.isnull().sum()

order_id                     0
date                         0
payment                    567
item_code                    0
quantity                     0
gift_quantity          2118134
unit_price_vat_excl          0
unit_cogs                    0
unit_rrp_vat_excl           98
department                   0
channel                      0
owner                        0
site                         0
CreatedAt                    0
dtype: int64

In [11]:
# Fill missing values in 'gift_quantity' with 0
df['gift_quantity'].fillna(0, inplace=True)

# Drop rows with missing values in specific columns
# (because i check the null values of payment, majority of nulls occurring on one day, could be the reason of payment processor outage)
columns_to_check = ['payment', 'unit_rrp_vat_excl']
df.dropna(subset=columns_to_check, inplace=True)

In [12]:
df.isnull().sum()

order_id               0
date                   0
payment                0
item_code              0
quantity               0
gift_quantity          0
unit_price_vat_excl    0
unit_cogs              0
unit_rrp_vat_excl      0
department             0
channel                0
owner                  0
site                   0
CreatedAt              0
dtype: int64

In [13]:
# define each country according the column 'site'
def extract_country_code(domain):
    parts = domain.split('.')
    return parts[-1]

In [14]:
# Extract the country code and create a new 'country' column
df['country'] = df['site'].apply(extract_country_code)

unique_countries = df['country'].unique()
print(f"unique countries: {unique_countries}")

unique countries: ['hu' 'cz' 'sk' 'de' 'ro' 'fr' 'es' 'at' 'com' 'it' 'hr' 'other' 'nl' 'ie'
 'be' 'dk' 'se' 'pt' 'pl' 'fi' 'si' 'uk' 'bg']

In [15]:
df['country'].value_counts()

cz       706338
sk       357633
hu       285599
ro       276237
de       122474
es       119033
fr        72947
it        41398
hr        37030
com       34392
ie        16575
dk        14006
nl        10862
at        10734
se         7594
pt         4918
pl         4323
be         3392
fi         1599
si          713
other        46
uk           14
bg            6
Name: country, dtype: int64

In [16]:
# drop 'other' in column 'country'
df = df[df['country'] != 'other']

df['country'].value_counts()

cz     706338
sk     357633
hu     285599
ro     276237
de     122474
es     119033
fr      72947
it      41398
hr      37030
com     34392
ie      16575
dk      14006
nl      10862
at      10734
se       7594
pt       4918
pl       4323
be       3392
fi       1599
si        713
uk         14
bg          6
Name: country, dtype: int64

In [17]:
df['country']=df['country'].replace(
    {'cz':'Czech Republic','com':'Czech Republic', 'de':'Germany', 'es':'Spain', 'hr': 'Croatia',  'it': 'Italy',
     'fr':'France',  'hu':'Hungary', 'at':'Austria', 'ie':'Ireland', 'ro':'Romania', 'sk':'Slovakia',
     'dk':'Denmark', 'nl':'Netherlands', 'se':'Sweden', 'pt':'Portugal', 'pl':'Poland',
     'be':'Belgium', 'fi':'Finland', 'si':'Slovenia', 'uk':'United Kingdom', 'bg':'Bulgaria'})

In [57]:
df

,order_id,date,payment,item_code,quantity,gift_quantity,unit_price_vat_excl,unit_cogs,unit_rrp_vat_excl,department,channel,owner,site,CreatedAt,country
0,2000093387,2020-04-24,GOPAY_CARD,S101,1,0.0,3.506048,0.000000,3.496395,E-COMMER,RUN.huC,RUN.huO,top4running.hu,2020-04-24 21:50:00,Hungary
1,2000093387,2020-04-24,GOPAY_CARD,S113,1,0.0,-0.705913,0.000000,-0.717209,E-COMMER,RUN.huC,RUN.huO,top4running.hu,2020-04-24 21:50:00,Hungary
2,2000093388,2020-04-24,COD,ZB00089178,1,0.0,5.829845,2.209302,6.472868,E-COMMER,FTB.czC,FTB.czO,11teamsports.cz,2020-04-24 21:45:00,Czech Republic
3,2000093388,2020-04-24,COD,ZB00138060,1,0.0,5.829845,2.209302,6.472868,E-COMMER,FTB.czC,FTB.czO,11teamsports.cz,2020-04-24 21:45:00,Czech Republic
4,2000093388,2020-04-24,COD,ZB00015664,1,0.0,19.379845,18.731008,32.015504,E-COMMER,FTB.czC,FTB.czO,11teamsports.cz,2020-04-24 21:45:00,Czech Republic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2127897,2200023866,2022-01-14,COD,S101,1,0.0,1.889922,0.000000,1.899225,E-COMMER,11TS.czC,11TS.czO,11teamsports.cz,2022-01-14 05:55:00,Czech Republic
2127898,2200023866,2022-01-14,COD,S113,1,0.0,0.929070,0.000000,0.930233,E-COMMER,11TS.czC,11TS.czO,11teamsports.cz,2022-01-14 05:55:00,Czech Republic
2127899,2200023867,2022-01-14,COD,ZB00194658,1,0.0,18.530158,13.294574,23.776279,E-COMMER,11TS.roC,AMBASS,11teamsports.ro,2022-01-14 06:00:00,Romania
2127900,2200023867,2022-01-14,COD,S113,1,0.0,0.805326,0.000000,0.766977,E-COMMER,11TS.roC,AMBASS,11teamsports.ro,2022-01-14 06:00:00,Romania
2127901,2200023867,2022-01-14,COD,S101,1,0.0,2.417894,0.000000,2.492674,E-COMMER,11TS.roC,AMBASS,11teamsports.ro,2022-01-14 06:00:00,Romania

Warning: total number of rows (2127817) exceeds max_rows (20000). Limiting to first (20000) rows.

In [20]:
# explore items table 
df1=pd.read_csv('/content/drive/MyDrive/lighthoust_lab/Final Project/Time-Series-Forecasting/data/items.csv', sep=';')
df1.head()

,item_code,item_name,style,brand_id,name,group0_id,group0,group1_id,group1,group2_id,group2,category,gender,age,color,size
0,ZB00210807,Studio Metallic LS Top,51951501,86,Puma,200.0,Apparel,230.0,T-Shirts,233.0,Longsleeved (LS) shirts,fitness,women,adults,Black,L
1,ZB00210813,TRAIN TECH EVOKNIT SS TEE,52011101,86,Puma,200.0,Apparel,230.0,T-Shirts,0.0,NaN,fitness,men,adults,Black,S
2,ZB00210815,TRAIN TECH EVOKNIT SS TEE,52011123,86,Puma,200.0,Apparel,230.0,T-Shirts,0.0,NaN,fitness,men,adults,Orange,L
3,ZB00210821,TRAIN TECH EVOKNIT SS TEE,52011130,86,Puma,200.0,Apparel,230.0,T-Shirts,0.0,NaN,fitness,men,adults,Yellow,XL
4,ZB00261295,LIGA Baselayer Tee LS,655920-027,86,Puma,200.0,Apparel,230.0,T-Shirts,233.0,Longsleeved (LS) shirts,football,men,adults,Green,L

In [21]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309128 entries, 0 to 309127
Data columns (total 16 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   item_code  309128 non-null  object
 1   item_name  306002 non-null  object
 2   style      302331 non-null  object
 3   brand_id   309128 non-null  int64
 4   name       309128 non-null  object
 5   group0_id  309093 non-null  float64
 6   group0     308302 non-null  object
 7   group1_id  301709 non-null  float64
 8   group1     265348 non-null  object
 9   group2_id  301709 non-null  float64
 10  group2     71773 non-null   object
 11  category   269282 non-null  object
 12  gender     301644 non-null  object
 13  age        301562 non-null  object
 14  color      263532 non-null  object
 15  size       301087 non-null  object
dtypes: float64(3), int64(1), object(12)
memory usage: 37.7+ MB

In [24]:
# merge two tables together to do the cleaning and EDA later
merged_df = df.merge(df1, on='item_code', how='left')
merged_df.head()

,order_id,date,payment,item_code,quantity,gift_quantity,unit_price_vat_excl,unit_cogs,unit_rrp_vat_excl,department,...,group0,group1_id,group1,group2_id,group2,category,gender,age,color,size
0,2000093387,2020-04-24,GOPAY_CARD,S101,1,0.0,3.506048,0.000000,3.496395,E-COMMER,...,Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000093387,2020-04-24,GOPAY_CARD,S113,1,0.0,-0.705913,0.000000,-0.717209,E-COMMER,...,Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000093388,2020-04-24,COD,ZB00089178,1,0.0,5.829845,2.209302,6.472868,E-COMMER,...,Apparel,290.0,Socks,291.0,Football socks,football,unisex,adults,Silver,3
3,2000093388,2020-04-24,COD,ZB00138060,1,0.0,5.829845,2.209302,6.472868,E-COMMER,...,Apparel,290.0,Socks,291.0,Football socks,football,unisex,adults,Pink,39-42
4,2000093388,2020-04-24,COD,ZB00015664,1,0.0,19.379845,18.731008,32.015504,E-COMMER,...,Apparel,240.0,Pants,0.0,NaN,fitness,men,adults,Black,XXL

In [27]:
# Assuming merged_df is your merged DataFrame
unique_values = merged_df.nunique()

# Print the number of unique values for each column
print(unique_values)

order_id               924730
date                      958
payment                    15
item_code              222372
quantity                   58
gift_quantity               3
unit_price_vat_excl    467735
unit_cogs              115479
unit_rrp_vat_excl      189120
department                  1
channel                    81
owner                      91
site                       69
CreatedAt              274937
country                    21
item_name               27620
style                   55022
brand_id                  130
name                      130
group0_id                   6
group0                      5
group1_id                  40
group1                     39
group2_id                  16
group2                     15
category                    4
gender                      4
age                         2
color                      20
size                      471
dtype: int64

In [28]:
# Check the unique values for a specific column
unique_values_category = merged_df['payment'].value_counts()
print(unique_values_category)

COD                    1239228
GOPAY_CARD              253685
PAYPAL                  226123
CARD_GOPAY              198794
CARD_CSOB               115235
CHECKOUT_CARD            84398
PAYPAL_EXPRESS            5320
CHECKOUT_APPLE            2626
CHECKOUT_IDEAL            1388
CHECKOUT_BANCONTACT        551
BANK_TRANSFER              356
CASH                        72
CSOB_CARD                   26
INVOICE_HUF                  9
PAYPAL_IDEALO                6
Name: payment, dtype: int64

In [29]:
# Check the unique values for 'category'
unique_values_category = merged_df['category'].value_counts()
print(unique_values_category)

football     709248
running      374228
fitness      203991
lifestyle     65421
Name: category, dtype: int64

In [31]:
# Check the unique values for 'gender'
unique_values_category = merged_df['gender'].value_counts()
print(unique_values_category)

men       688584
unisex    455975
women     213345
kids           3
Name: gender, dtype: int64

In [34]:
# Check the unique values for 'gender'
unique_values_category = merged_df['group0'].value_counts()
print(unique_values_category)

Other        769633
Apparel      696972
Footwear     517682
Equipment    138759
Nutrition      4341
Name: group0, dtype: int64

In [40]:
# Check the unique values for 'brand_id'
unique_values = merged_df['brand_id'].unique()
print(unique_values)

[ -1  86  85  84 125 106  89 118 169 135  93  88 237 233 116 232 115 139
 112 159 109 100 117 178  90 166 176 124 126 107 170 186 123  94 103 110
 134 168 104 234 144 161 138 167 149 101 129  97  92 163  87 185 164  98
  91 120 182 165 105 127 128 146 174 131 152 160 121 183 114 132 175 172
 171 119 147 151 111 122  96 184 230 180 177 181 173 179 137 190 108 188
 187 189 219 226 224 194 225 195 196 222 235 197 218 199 193 200 220 198
 228 229 133 162 255 258 260 205 202 259 254 246 261 209 236 256 221 262
 208 203 223 142]

In [41]:
# replace '-1' in column 'brand_id' with 11 instead
merged_df['brand_id'] = merged_df['brand_id'].replace(-1, 11)

In [42]:
merged_df.columns

Index(['order_id', 'date', 'payment', 'item_code', 'quantity', 'gift_quantity',
       'unit_price_vat_excl', 'unit_cogs', 'unit_rrp_vat_excl', 'department',
       'channel', 'owner', 'site', 'CreatedAt', 'country', 'item_name',
       'style', 'brand_id', 'name', 'group0_id', 'group0', 'group1_id',
       'group1', 'group2_id', 'group2', 'category', 'gender', 'age', 'color',
       'size'],
      dtype='object')

In [43]:
# drop columns are irrelevant
columns_to_drop = ['department','channel', 'owner', 'site','item_name', 'style', 'group1_id',
       'group1', 'group2_id', 'group2']
cleaned_df = merged_df.drop(columns_to_drop, axis=1)
cleaned_df

,order_id,date,payment,item_code,quantity,gift_quantity,unit_price_vat_excl,unit_cogs,unit_rrp_vat_excl,CreatedAt,country,brand_id,name,group0_id,group0,category,gender,age,color,size
0,2000093387,2020-04-24,GOPAY_CARD,S101,1,0.0,3.506048,0.000000,3.496395,2020-04-24 21:50:00,Hungary,11,- žádný výrobce -,999.0,Other,NaN,NaN,NaN,NaN,NaN
1,2000093387,2020-04-24,GOPAY_CARD,S113,1,0.0,-0.705913,0.000000,-0.717209,2020-04-24 21:50:00,Hungary,11,- žádný výrobce -,999.0,Other,NaN,NaN,NaN,NaN,NaN
2,2000093388,2020-04-24,COD,ZB00089178,1,0.0,5.829845,2.209302,6.472868,2020-04-24 21:45:00,Czech Republic,86,Puma,200.0,Apparel,football,unisex,adults,Silver,3
3,2000093388,2020-04-24,COD,ZB00138060,1,0.0,5.829845,2.209302,6.472868,2020-04-24 21:45:00,Czech Republic,86,Puma,200.0,Apparel,football,unisex,adults,Pink,39-42
4,2000093388,2020-04-24,COD,ZB00015664,1,0.0,19.379845,18.731008,32.015504,2020-04-24 21:45:00,Czech Republic,85,adidas,200.0,Apparel,fitness,men,adults,Black,XXL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2127812,2200023866,2022-01-14,COD,S101,1,0.0,1.889922,0.000000,1.899225,2022-01-14 05:55:00,Czech Republic,11,- žádný výrobce -,999.0,Other,NaN,NaN,NaN,NaN,NaN
2127813,2200023866,2022-01-14,COD,S113,1,0.0,0.929070,0.000000,0.930233,2022-01-14 05:55:00,Czech Republic,11,- žádný výrobce -,999.0,Other,NaN,NaN,NaN,NaN,NaN
2127814,2200023867,2022-01-14,COD,ZB00194658,1,0.0,18.530158,13.294574,23.776279,2022-01-14 06:00:00,Romania,84,Nike,100.0,Footwear,football,men,adults,Black,"42,5"
2127815,2200023867,2022-01-14,COD,S113,1,0.0,0.805326,0.000000,0.766977,2022-01-14 06:00:00,Romania,11,- žádný výrobce -,999.0,Other,NaN,NaN,NaN,NaN,NaN
2127816,2200023867,2022-01-14,COD,S101,1,0.0,2.417894,0.000000,2.492674,2022-01-14 06:00:00,Romania,11,- žádný výrobce -,999.0,Other,NaN,NaN,NaN,NaN,NaN

In [49]:
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2127817 entries, 0 to 2127816
Data columns (total 20 columns):
 #   Column               Dtype
---  ------               -----
 0   order_id             int64
 1   date                 datetime64[ns]
 2   payment              object
 3   item_code            object
 4   quantity             int64
 5   gift_quantity        float64
 6   unit_price_vat_excl  float64
 7   unit_cogs            float64
 8   unit_rrp_vat_excl    float64
 9   CreatedAt            object
 10  country              object
 11  brand_id             int64
 12  name                 object
 13  group0_id            float64
 14  group0               object
 15  category             object
 16  gender               object
 17  age                  object
 18  color                object
 19  size                 object
dtypes: datetime64[ns](1), float64(5), int64(3), object(11)
memory usage: 340.9+ MB

In [38]:
cleaned_df.isnull().sum()

order_id                    0
date                        0
payment                     0
item_code                   0
quantity                    0
gift_quantity               0
unit_price_vat_excl         0
unit_cogs                   0
unit_rrp_vat_excl           0
CreatedAt                   0
country                     0
brand_id                    0
name                        0
group0_id                  41
group0                    430
category               774929
gender                 769910
age                    769931
color                  804153
size                   770205
dtype: int64

In [56]:
# Check for negative values in specific columns
columns_to_check = ['unit_price_vat_excl','unit_cogs','unit_rrp_vat_excl']
negative_counts = {}

for column in columns_to_check:
    negative_count = (cleaned_df[column] < 0).sum()
    negative_counts[column] = negative_count

# Print the number of negative values for each column
print(negative_counts)

{'unit_price_vat_excl': 34180, 'unit_cogs': 0, 'unit_rrp_vat_excl': 34179}

In [58]:
cleaned_df['gross_revenue'] = cleaned_df['quantity'] * cleaned_df['unit_price_vat_excl']
cleaned_df['profit'] = cleaned_df['quantity'] * (cleaned_df['unit_price_vat_excl'] - cleaned_df['unit_cogs'])

In [59]:
cleaned_df.head()

,order_id,date,payment,item_code,quantity,gift_quantity,unit_price_vat_excl,unit_cogs,unit_rrp_vat_excl,CreatedAt,...,name,group0_id,group0,category,gender,age,color,size,gross_revenue,profit
0,2000093387,2020-04-24,GOPAY_CARD,S101,1,0.0,3.506048,0.000000,3.496395,2020-04-24 21:50:00,...,- žádný výrobce -,999.0,Other,NaN,NaN,NaN,NaN,NaN,3.506048,3.506048
1,2000093387,2020-04-24,GOPAY_CARD,S113,1,0.0,-0.705913,0.000000,-0.717209,2020-04-24 21:50:00,...,- žádný výrobce -,999.0,Other,NaN,NaN,NaN,NaN,NaN,-0.705913,-0.705913
2,2000093388,2020-04-24,COD,ZB00089178,1,0.0,5.829845,2.209302,6.472868,2020-04-24 21:45:00,...,Puma,200.0,Apparel,football,unisex,adults,Silver,3,5.829845,3.620543
3,2000093388,2020-04-24,COD,ZB00138060,1,0.0,5.829845,2.209302,6.472868,2020-04-24 21:45:00,...,Puma,200.0,Apparel,football,unisex,adults,Pink,39-42,5.829845,3.620543
4,2000093388,2020-04-24,COD,ZB00015664,1,0.0,19.379845,18.731008,32.015504,2020-04-24 21:45:00,...,adidas,200.0,Apparel,fitness,men,adults,Black,XXL,19.379845,0.648837

In [63]:
# save this cleaned_df to a CSV file
cleaned_df.to_csv('merge_cleaned.csv', index=False)

In [60]:
per_order = cleaned_df.groupby('order_id').agg({
    'gross_revenue': 'sum',
    'profit': 'sum',
    'quantity': 'sum'
}).reset_index()

In [62]:
per_order.head(15)

      order_id  gross_revenue      profit  quantity
0     20000001      19.211231    8.491464         3
1     21000001      26.733279    9.679015         2
2     22000001      72.267442   69.322481         1
3   1900072437     271.605813  133.654263        17
4   1900072959     460.383151  257.373074        24
5   1900073779     162.607073   36.851647         9
6   1900073936      69.465742   40.687060         1
7   1900075225      39.176356   22.579069         5
8   1900075432      48.295449   22.849325         2
9   1900075773     113.363953   44.119380         1
10  1900076357      11.521009   11.521009         1
11  1900076718      22.839535   22.839535         2
12  1900077168      40.108527   10.350775         2
13  1900077515      29.662323    8.805734         3
14  1900077788     110.445651   35.022395         1

In [64]:
# get geographc infomation to each country
from geopy.geocoders import Nominatim

In [65]:
# Initialize the Nominatim geocoder
geolocator = Nominatim(user_agent="myGeocoder")

# Get the unique countries in the DataFrame
unique_countries = cleaned_df['country'].unique()

# Create a dictionary to store latitude and longitude for each country
country_lat_lng = {}

# Loop through the unique countries and get their latitude and longitude
for country in unique_countries:
    location = geolocator.geocode(country)
    country_lat_lng[country] = (location.latitude, location.longitude)

# Add latitude and longitude columns to the DataFrame
cleaned_df['latitude'] = cleaned_df['country'].map(lambda x: country_lat_lng[x][0])
cleaned_df['longitude'] = cleaned_df['country'].map(lambda x: country_lat_lng[x][1])

In [66]:
cleaned_df.head()

,order_id,date,payment,item_code,quantity,gift_quantity,unit_price_vat_excl,unit_cogs,unit_rrp_vat_excl,CreatedAt,...,group0,category,gender,age,color,size,gross_revenue,profit,latitude,longitude
0,2000093387,2020-04-24,GOPAY_CARD,S101,1,0.0,3.506048,0.000000,3.496395,2020-04-24 21:50:00,...,Other,NaN,NaN,NaN,NaN,NaN,3.506048,3.506048,47.181759,19.506094
1,2000093387,2020-04-24,GOPAY_CARD,S113,1,0.0,-0.705913,0.000000,-0.717209,2020-04-24 21:50:00,...,Other,NaN,NaN,NaN,NaN,NaN,-0.705913,-0.705913,47.181759,19.506094
2,2000093388,2020-04-24,COD,ZB00089178,1,0.0,5.829845,2.209302,6.472868,2020-04-24 21:45:00,...,Apparel,football,unisex,adults,Silver,3,5.829845,3.620543,49.743905,15.338106
3,2000093388,2020-04-24,COD,ZB00138060,1,0.0,5.829845,2.209302,6.472868,2020-04-24 21:45:00,...,Apparel,football,unisex,adults,Pink,39-42,5.829845,3.620543,49.743905,15.338106
4,2000093388,2020-04-24,COD,ZB00015664,1,0.0,19.379845,18.731008,32.015504,2020-04-24 21:45:00,...,Apparel,fitness,men,adults,Black,XXL,19.379845,0.648837,49.743905,15.338106

In [67]:
# save this cleaned_df_withgeo to a CSV file
cleaned_df.to_csv('cleaned_withgeo.csv', index=False)

In [24]:
import pandas as pd

In [25]:
c_df = pd.read_csv('/content/drive/MyDrive/lighthoust_lab/Final Project/Time-Series-Forecasting/data/cleaned_withgeo.csv')

In [26]:
start_date = pd.to_datetime('2020-08-01')
end_date = pd.to_datetime('2021-01-14')
date_range = pd.date_range(start=start_date, end=end_date, freq='D')
number_of_dates = len(date_range)

number_of_countries = 21
unique_country_date_pairs = number_of_countries * number_of_dates

unique_country_date_pairs

3507

In [33]:
# Convert the 'date' column to a datetime object
c_df['date'] = pd.to_datetime(c_df['date'])

# Filter the dataset based on the new date range
cleaned_df = c_df[(c_df['date'] >= start_date) & (c_df['date'] <= end_date)]

In [34]:
# Find the date range
min_date = cleaned_df['date'].min()
max_date = cleaned_df['date'].max()

print(f"Date range: {min_date} to {max_date}")

Date range: 2020-08-01 00:00:00 to 2021-01-14 00:00:00

In [35]:
# read the openweathermap_api_key.csv for the only value in the file
OPEN_WEATHER_MAP_API_KEY = pd.read_csv('/content/drive/MyDrive/lighthoust_lab/Final Project/Time-Series-Forecasting/data/openweather_api.csv', header=None).values[0][0]

In [36]:
from IPython.display import clear_output
import requests
import datetime
import pandas as pd
import time

In [45]:
# define a switch to this api call
# if the switch is on, then the api call will be made
# if the switch is off, then the api call will not be made

open_weather_api_switch = True

if open_weather_api_switch:

    import pandas as pd
    import requests
    import time
    from IPython.display import display, clear_output

    # Function to fetch weather data
    def get_weather_data(api_key, lat, lon, date):
        url = f'https://api.openweathermap.org/data/3.0/onecall/timemachine?lat={lat}&lon={lon}&dt={date}&appid={api_key}'
        response = requests.get(url)

        if response.status_code == 200:
            clear_output(wait=True)
            display('response.status_code: ', response.status_code)
            data = response.json()

            weather_data = {
                'temp': data['data'][0].get('temp', None),
                'weather_description': data['data'][0]['weather'][0].get('description', None),
            }

            return weather_data
        else:
            clear_output(wait=True)
            display('response.status_code: ', response.status_code)
            return None

    api_key = OPEN_WEATHER_MAP_API_KEY

    # Convert date to UNIX timestamp (required by OpenWeatherMap API)
    cleaned_df['timestamp'] = cleaned_df['date'].apply(lambda x: int(pd.to_datetime(x).timestamp()))

    # Fetch weather data for each flight in the sample, limiting requests to 1 per second
    weather_columns = [ 'temp','weather_description']

    for column in weather_columns:
        cleaned_df[column] = None

    def fetch_weather(row):
        time.sleep(1)
        weather_data = get_weather_data(api_key, row['latitude'], row['longitude'], row['timestamp'])

        if weather_data:
            for column in weather_columns:
                row[column] = weather_data[column]
        return row

    cleaned_df = cleaned_df.apply(fetch_weather, axis=1)
    cleaned_df.to_csv('cleaned_df_with_weather.csv')
else:
    print("Switch is off. Not making API calls.")

'response.status_code: '

200

ConnectionError: ignored

In [46]:
cleaned_df.head()

,order_id,date,payment,item_code,quantity,gift_quantity,unit_price_vat_excl,unit_cogs,unit_rrp_vat_excl,CreatedAt,...,age,color,size,gross_revenue,profit,latitude,longitude,timestamp,temp,weather_description
661377,2000172271,2020-08-01,PAYPAL,ZB00152186,1,0.0,131.098198,79.263178,157.344215,2020-08-01 00:05:00,...,adults,White,"48,5",131.098198,51.835019,51.163818,10.447831,1596240000,None,None
661378,2000172272,2020-08-01,PAYPAL,ZB00076871,1,0.0,131.098198,71.437209,131.098198,2020-08-01 00:15:00,...,adults,Brown,"40,5",131.098198,59.660988,51.163818,10.447831,1596240000,None,None
661379,2000172273,2020-08-01,CARD_GOPAY,ZB00117653,1,0.0,89.634157,51.887984,100.530262,2020-08-01 00:15:00,...,adults,Blue,"42,5",89.634157,37.746172,39.326068,-4.837979,1596240000,None,None
661380,2000172274,2020-08-01,CARD_GOPAY,ZB00099456,1,0.0,18.363081,8.635271,20.879128,2020-08-01 00:15:00,...,adults,NaN,"M 4""""",18.363081,9.727810,39.326068,-4.837979,1596240000,None,None
661381,2000172274,2020-08-01,CARD_GOPAY,S101,1,0.0,4.616134,0.000000,4.616134,2020-08-01 00:15:00,...,NaN,NaN,NaN,4.616134,4.616134,39.326068,-4.837979,1596240000,None,None

In [ ]:
# Save your updated DataFrame to a CSV file
cleaned_df.to_csv('merged_with_weather.csv', index=False)

In [48]:
# Check if there are any non-None values in the 'description' and 'temperature' columns
non_none_description = cleaned_df['weather_description'].notnull().any()
non_none_temperature = cleaned_df['temp'].notnull().any()

print("Non-None values in 'description':", non_none_description)
print("Non-None values in 'temperature':", non_none_temperature)

Non-None values in 'description': False
Non-None values in 'temperature': False